.app__modal__content__form__fieldset__colors {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 10px;
}

.app__modal__content__form__fieldset__colors__label{
  height: 100%;
  aspect-ratio: 1;
  display: flex;
}

.app__modal__content__form__fieldset__colors__label__option {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--background-dark);
  color: var(--primary);
  cursor: pointer;
}

.app__modal__content__form__fieldset__colors__label__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.app__modal__content__form__fieldset__colors__label__option:hover {
  transform: scale(1.1);
}

.app__modal__content__form__fieldset__colors__label__option:active {
  filter: brightness(90%);
}

.app__modal__content__form__fieldset__colors__label__input:checked ~ .app__modal__content__form__fieldset__colors__label__option {
  border: 3px solid var(--primary);
  transform: scale(1.1);
}

.app__modal__content__form__fieldset__button {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 300;
  transition: .2s;
}

.app__modal__content__form__fieldset__button.--delete {
  background-color: var(--danger);
}

.app__modal__content__form__fieldset__button:active {
  filter: brightness(90%);
  transform: scale(1.01);
}